org.eclipse.lemminx/src/test/resources/schemagen/xsd/xsdSchemas/sampleWithGroupElement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:group name="productDetails">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="category" type="xs:string"/>
            <xs:element name="price" type="xs:decimal"/>
        </xs:sequence>
    </xs:group>

    <xs:element name="product">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="productDetails"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
