org.eclipse.lemminx/src/test/resources/schemagen/xsd/xsdSchemas/sampleWithUnionTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Define a complex type with a union for itemCode -->
    <xs:element name="item">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="itemCode">
                    <xs:simpleType>
                        <xs:union memberTypes="xs:int xs:string"/>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="itemName" type="xs:string"/>
                <xs:element name="price" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
