org.eclipse.lemminx/src/test/resources/schemagen/xsd/xsdSchemas/sampleWithBasicChoices.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:complexType name="ContactInfoType">
        <xs:choice>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="phone" type="xs:string"/>
        </xs:choice>
    </xs:complexType>

    <xs:element name="Person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="contact" type="ContactInfoType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
