org.eclipse.lemminx/src/test/resources/schemagen/xsd/xsdSchemas/sampleWithMultipleTopLevelElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="FirstName" type="xs:string"/>
    <xs:element name="Age" type="xs:integer"/>
    <xs:element name="Salary" type="xs:decimal"/>
    <xs:element name="IsEmployed" type="xs:boolean"/>
    <xs:element name="JoinDate" type="xs:date"/>

</xs:schema>
