org.eclipse.lemminx/src/test/resources/schemagen/xsd/xsdSchemas/sampleWithOnlyAttributesInComplexType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="SampleWithOnlyAttributes">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="status" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:element name="SampleElement" type="SampleWithOnlyAttributes"/>
</xs:schema>