org.eclipse.lemminx/src/test/resources/schemagen/xsd/xsdSchemas/sampleWithAttributes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!-- Define the root element 'product' -->
    <xs:element name="product">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="price" type="xs:decimal"/>
                <xs:element name="description" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="prodid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
