org.eclipse.lemminx/src/test/resources/schemagen/xsd/xsdSchemas/sampleWithMixedType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="note">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element name="to" type="xs:string" minOccurs="0"/>
                <xs:element name="from" type="xs:string" minOccurs="0"/>
                <xs:element name="body" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="date" type="xs:date" use="optional"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
